

/* 네비게이션 */

.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.nav__wrapper {
    display: flex;
    float: right;
    min-width: 200px;
    margin: 20px 10px;
    
}

.nav__list {
    color: #76a4e4;
    font-size: 1.2em;
    margin-right: 36px; 
}

.nav__list:hover {
    color: #638ac0;
}


.line:hover {
    display: inline;
    box-shadow: inset 0 -10px 0 #c1dbffc2;
    transition: 0.2s all;
}

/* 프로그래스 바 */

.progress__container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 990;
    width: 10px;
    height: 100%;
    /* margin: 100px 30px 0 0; */
    background: #eeeeee;
}

.progress__bar {
    height: 0%;
    background: #76a4e4;
    width: 10px;
} 

/* 기본 스크롤 없애기 */
::-webkit-scrollbar {
    display: none;
  }


/* 상단 이동 버튼 */
.move__wrap {
    background: #fff;
    border: 2px solid #76a4e4;
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.moveBtn {
    right: 39px;
    bottom: 39px;
    position: fixed;
}

.moveBtn:before,
.moveBtn:after {
  background: #76a4e4;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
}

.moveBtn:before {
    transform: rotate(130deg) translateX(-75%);
    transform-origin: bottom left;
  }
  
  .moveBtn:after {
    transform: rotate(-130deg) translateX(75%);
    transform-origin: bottom right;
  }





@media screen and (max-width: 1000px){
    .nav {
        z-index: 30;
        background-color: #fff;
        box-shadow: 0 0 3px #d9d9d9;
    }
    .nav__wrapper {
        width: 100%;
        justify-content: space-around;
        float: none;
    }
    .nav__list {
        font-size: 1.5em;
    }
    .progress__container {
        display: none;
    }
    .progress__bar {
        display: none;
    }
    .moveBtn, .move__wrap {
        display: none;
    } 
}

@media screen and (max-width: 500px){
    .nav {
        min-width: 250px;
        z-index: 30;
        background-color: #fff;
        box-shadow: 0 0 3px #d9d9d9;
    }
    .nav__wrapper {
        width: 100%;
        justify-content: space-around;
        float: none;
    }
    .progress__container {
        display: none;
    }
    .progress__bar {
        display: none;
    }
    .moveBtn, .move__wrap {
        display: none;
    } 
}