

#sidebar {
    background: #91bfffc2;
    position: fixed;
    top: 0;
    left:0;
    z-index: 10;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 100vh;
}

.side__wrapper {
    padding: 40% 0 0 0;
}


.side__profile {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
    background-color: #fff;
    background: url(../imgs/mimoji.png) center/cover no-repeat;
}

/* .side__profile--img {
    width: 200px;
    background-image: url(../imgs/mimoji.jpg);
} */

.side__info {
    padding: 10px 0;
}

.side__info--name {
    font-size: 1.5em;
}

.side__info--log {
    display: flex;
    justify-content: space-evenly;
}

.side__info--log a {
    width: 100px;
}

.side__info--log a:hover {
    font-weight: 700;
}

.info {
    padding-top: 20px;
    color: #fff;
}

.email {
    position: fixed;
    bottom: 0;
    z-index: 30;
    text-align: center;
    padding: 16px 0;
    width: 400px;
}

.email > a {
    color: #fff;
}

/* 인삿말 */
.greet {
    position: absolute;
    width: 240px;
    height: 70px;
    top: 10%;
    left: 19%;
    background: #fff;
    color: #333a3e;
    border-radius: 20px;
    padding: 12px 12.8px;
    white-space: pre-line;
}

.greet:after {
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 70px;
    left: 30px;
    white-space: pre-line;
}


/* @media screen and (max-width: 1000px){
    #sidebar {
        width: 300px;
    }
    .email {
        width: 300px;
    }
} */


@media screen and (max-width: 1000px){
    #sidebar {
        position: relative;
        width: 100%;
    }
    .email {
        width: 100%;
        background-color: #91bfff;
    }
    .side__wrapper {
        padding: 230px 0 0 0;
        min-width: 500px;
        display: flex;
        justify-content: center;
    }
    .greet {
        top: 15%;
        left: 30%;
    }
}

@media screen and (max-width: 500px){
    #sidebar {
        position: relative;
        min-width: 250px;
        width: 100%;
    }
    .email {
        width: 100%;
        background-color: #91bfff;
    }
    .side__wrapper {
        min-width: 200px;
    }
    .greet {
        left: 30%;
    }
}