
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}

html, body {
    height: 100%;
}


/* 네비게이션 바 */

.nav {
    float: right;
    display: flex;
    margin: 20px;
}

.nav-list {
    color: #539165;
    font-size: 20px;
    font-weight: 300;
    margin-right: 20px;
}

.nav-list:hover {
    color: #3d6d4b;
}

/* 사이드 바 */

#sidebar {
    background: #539165;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.info {
    margin-top: 130px;
}

/* 이미지 혹은 사진 */

.my-image-area {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 0 30px 0;
}

.my-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

/* 개인 정보 */

.name {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 20px;
}

.my_info_area {
    text-align: center;
}

.log {
    display: flex;
    justify-content: space-evenly;
}

.email {
    position: fixed;
    bottom: 0;
    text-align: center;
}

/* 섹션 */

#section {
    margin-left: 400px;
    width: 100vh;
    height: 800px;
}

#about {
    border: 2px solid #3d6d4b;
    width: 1200px;
    height: 850px;
    position: absolute;
    margin-top: 80px;
}

#project {
    border: 2px solid #3d6d4b;
    width: 1200px;
    height: 850px;
    position: absolute;
    margin-top: 1000px;
}

.m-email {
    display: none;
}



@media (max-width: 768px) {
    .nav { display: none; }
    #sidebar { width: 100vh; position: relative; }
    .email { display: none; }
    .m-email { 
        display: block;
        position: fixed;
        bottom: 0;
        text-align: center;
        background: #539165; 
        width: 100vh; 
        height: 80px;}
    #section {
        width: 100vh;
        margin-left: 0;
    }
    #about {
        width: 100vh;
        margin-top: 0;
        position: relative;
    }
    #project {
        width: 100vh;
        margin-top: 0;
        position: relative;
    }

}

@media (max-width: 480px) {
    .nav { display: none; }
    #sidebar { width: 100vh; }
    #about { width: 100vh; }
    .email { display: none; }
    .m-email {
        display: block; 
        position: fixed;
        bottom: 0;
        text-align: center; 
        background: #539165; 
        width: 100vh;
        height: 80px;}
    #section {

    }
}

